include ez_setup.py
include MANIFEST.in
include README.rst
include requirements.txt
include environment.yml

include slivka/conf/*.json
graft slivka/project_template
include slivka/scheduler/runners/runner.sh.tpl
include slivka/scheduler/runners/runner.bash.tpl

global-exclude *.py[co]
