include ez_setup.py
include MANIFEST.in
include README.rst
include requirements.txt
include environment.yml

graft slivka/data
include slivka/conf/*.json
graft slivka/conf/project_template
include slivka/scheduler/runners/runner.sh.tpl

global-exclude *.py[co]
