click>=7.0
flask>=1.0
frozendict>=1.2
gunicorn>=19.9
itsdangerous>=0.24
Jinja2>=2.8
jsonschema>=2.5.1
MarkupSafe>=1.0
mock>=2.0
pymongo >= 3.7
PyYAML>=3.11
simplejson>=3.16.0
SQLAlchemy>=1.2
Werkzeug>=0.15
Sphinx>=1.5.1
