BASE_DIR: {{ base_dir }}
MEDIA_DIR: ./media
WORK_DIR: ./work_dir
LOG_DIR: ./logs
SERVICES_INI: ./configurations/services.ini

SERVER_HOST: 0.0.0.0
SERVER_PORT: 8000
SECRET_KEY: {{ secret_key }}

QUEUE_HOST: localhost
QUEUE_PORT: 3397

DEBUG: on
