import os


# sets project root directory to the directory of the current file.
BASE_DIR = os.path.dirname(os.path.abspath(__file__))

# secret cryptographic key used for signing identifications
SECRET_KEY = {{ secret_key }}

# folder where uploaded files are stored
MEDIA_DIR = "./media"

# folder where working directory for services will be placed
WORK_DIR = "./work_dir"

# location of service initialization file
SERVICE_INI = "./services.ini"

# folder where log files are stored
LOG_DIR = "./logs"

# list of available services ["Service1", "Service2", ...]
SERVICES = ["PyDummy"]

# configuration of the local task queue server
QUEUE_HOST = 'localhost'
QUEUE_PORT = 3397

# configuration of the api server
SERVER_HOST = 'localhost'
SERVER_PORT = 8000

# enable/disable debug mode
DEBUG = True
